<form ng-submit="submit()">
  <div class="jumbotron" ng-controller="AuthCtrl">
    <h3>Welcome to the Facebook Group Agent!</h3>
    <p class="lead">
      <ul>
        <li>Log in with Facebook</li>
        <li>Enter some keywords</li>
        <li>Choose your groups</li>
        <li>Get a daily digest of relevant posts!</li>
      </ul>
    </p>
    <p>
      <a class="btn btn-lg btn-primary" ng-show="!logged" ng-disabled="!facebookReady" ng-click="IntentLogin()">Login with Facebook</a>

      <a class="btn btn-lg btn-primary" ng-show="logged" ng-disabled="!facebookReady" ng-click="logout()">Logout</a>
    </p>
    <p>
       <input ng-show="formSubmitEnabled()" class="btn btn-lg btn-success" type="submit" value="Create Agent">
    </p>
  </div>
</form>

<div id="request-form" ng-show="!requestSent">
  <h4>Keywords</h4>
  <div class="row">
      <div id="keywords">
      <input type="text" class="form-control" placeholder="Type keyword and click enter" ng-model="keyword" ng-enter="addKeyword()">

        <ul>
          <li ng-repeat="keyword in formData.keywords">
            {{keyword}}
          </li>
        </ul>
      </div>
  </div>
  <h4>Groups</h4>
  <div class="row">
    <form class="form-inline">
      <ul id="group-list">
        <li ng-repeat="group in groups">
          <label class="checkbox">
            <input type="checkbox" name="group" id="{{group.id}}" ng-model="value", ng-change="addRemoveGroup(group)"> 
            <img ng-src="{{group.icon}}"/>
            {{group.name}}
          </label>   
        </li>  
      </ul>
    </form>
  </div>
</div>

<div class="well" id="request-sent" ng-show="requestSent">
  Agent created! You will recieve a daily digest with relevant posts.
</div>
